@import '../../styles/app';

.avatar {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 40px;
  width: 40px;
  background: $warning;
  font-weight: 600;
  font-size: 18px;
  img {
    height: 40px
  }
}

.text {
  text-align: center;
}

.header {
  margin-left: auto;
  margin-right: auto;
}

.controBtn {
  padding: 1px 3px;
  font-size: 11px;
}

.usersTableWrapper {
  overflow: hidden;
  @include media-breakpoint-down(lg) {
    overflow: auto;
  }
}

.usersListTableMobile {
  min-width: 1100px;
}
