#root {
  --sidebar-item-active: #F6F6E9;
  --important-notification-color: #f55d5d;
  --badge-item: #ffffff;
  --update-notification-color: #FD5F00;

  .sing-dashboard {
    --logo-color: white;

    --sidebar-bg-color: #002B49;
    --sidebar-color: #F6F6E9;
    --sidebar-action-bg: #042338;
    --sidebar-item-active: #F6F6E9;
    --sidebar-nav-title-color: #dedede;

    --widget-shadow-color: 115, 162, 208;

    --navbar-bg: white;
    --navbar-shadow: 0 15px 20px -20px rgba(var(--widget-shadow-color), 0.1), 0 0 15px rgba(var(--widget-shadow-color), 0.06);

    --badge-item-color: var(--badge-item);
    --important-notification: var(--important-notification-color);
    --update-notification: var(--update-notification-color);
    --sidebar-item-active-color: var(--sidebar-item-active);
    --sidebar-progress-bg-color: var(--sidebar-action-bg);
    --sidebar-item-hover-bg-color: var(--sidebar-action-bg);
    --widget-shadow: 0 23px 20px -20px rgba(var(--widget-shadow-color), 0.1), 0 0 15px rgba(var(--widget-shadow-color), 0.06);
  }
}
